*{
    padding: 0;
    margin: 0;
}
body {
  cursor: none; /* Hide the default cursor */
}

.circle-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none; /* Prevent the circle from blocking clicks */
  z-index: 1000;
  transition: transform 0.1s ease;
}