.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000; /* Optional: background color for better contrast */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
  }
  
  .loading-video {
    width: 100%;
    height: auto;
  }
  
  .skip-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #000;
  }
  
  .skip-button:hover {
    background-color: #ddd;
  }
  